# Temporary build, distribution and package folders
/build
/dist
/package

# Documentation build folder
/docs/build/*

# Presentation build folder
/presentation/build

# Presentation files
/presentation/*.aux
/presentation/*.auxlock
/presentation/*.log
/presentation/*.nav
/presentation/*.out
/presentation/*.pdf
/presentation/*.snm
/presentation/*.synctex.gz
/presentation/*.toc

# Source log files
/src/*.log

# Presentation caches
/presentation/article-cache
/presentation/beamer-cache
/presentation/handout-cache

# Compiled beamer template
/presentation/ercisbeamer.sty

# Deprecated stuff
/deprecated

# Fonts (due to copyright issues)
/fonts/*.ttf